:root{
  --primary-color:#5bb462;
  --primary-dark:#4f9c55;
  --secondary-color:#ffea00;
  --secondary-dark:#e3dB02;
  --profile-bold:#E8871E;
  --profile-primary:#BA181B;
  --profile-dark:#161A1D;
  --profile-light:rgb(245, 243, 244,0.7);
  --overlay:rgb(0,0,0,.7);
  --overlayy:rgb(0,0,0,.3);

}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar{
  width: 1em;
}
::-webkit-scrollbar-track{
  background-color: #fff;
  
  margin-block:.5em
  
}
::-webkit-scrollbar-thumb{
  background-color: rgb(0,0,0,.8);
  border: .25em solid rgb(0,0,0,.1);
  border-radius: 100vw;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1,2rem;
  line-height: 1.2;

  background-color: #fff;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}

.button{
  padding: 17px 28px;
  font-size: 1.2rem;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  border-radius: 4px;
  cursor: pointer;
}

.button:hover{
  background: var(--primary-dark);
  border: 1px solid var(--primary-dark);

}

.line{
  display: block;
  width: 40px;
  height: 3px;
  margin: 5px auto;
  background-color: var(--primary-color);
}
